* {
    box-sizing: border-box;
  }
  
  .iHave-password-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1e1e1e;
    font-family: sans-serif;
  }
  
  .iHave-password-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #282525;
    width: 100%;
    max-width: 500px;
    padding: 1.2rem;
    margin: 2rem;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgb(94, 93, 93);
  }
  
  .logo img {
    display: block;
    border-radius: 50%;
  }
  
  .iHave-heading {
    text-align: center;
  }
  
  .iHave-main-heading {
    color: #FFFFFF;
    font-size: 25px;
    font-weight: bold;
    margin: 1rem 0;
  }
  
  .iHave-sub-heading {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: bold;
    margin-top: 1rem;
  }
  
  .input-field {
    width: 100%;
    max-width: 500px;
    height: 48px;
    margin-top: 1.5rem;
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    /* border: 1px solid red; */
    border-radius: 8px;
    font-size: 16px;
    color: #000;
    outline: none;
  }
  
  .input-field:focus {
    border-color: #9383E0;
    box-shadow: 0 0 0 2px rgba(147, 131, 224, 0.4);
  }
  
  .iHave-submit-button {
    background-color: #7d4cef;
    color: #fff;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    margin-top: 1rem;
    width: 117px;
    height: 48px;
    border: none;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
  }
  .iHave-submit-button:hover{
    background-color: #4b26a1; 
  }
  
  .submit-button.verify-button {
    width: 130px;
  }
  
  .submit-button:hover {
    background-color: #7b70d0;
  }
  
  .password-input-wrapper{
    position: relative;
    width: 85%;
    max-width: 400px;
  }

  @media (max-width: 768px) {
    .iHave-password-card {
      padding: 1.2rem;
    }
  
    .input-field {
      width: 100%;
    }
  
    .submit-button {
      width: 100%;
      max-width: 200px;
    }
  }
  
  @media (max-width: 480px) {
    .main-heading {
      font-size: 22px;
    }
  
    .sub-heading {
      font-size: 16px;
    }
    
    .input-field {
      height: 48px;
    }
  
    .submit-button {
      height: 44px;
    }
  }
  