.reset-password-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0F0C0C;
    font-family:  sans-serif;
  }
  
  .reset-password-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #282525;
    width: 90%;
    max-width: 616px;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgb(94, 93, 93);
  }
  
  .logo {
    margin-bottom: 1rem;
  }

  .logo img {
    display: block;
    border-radius: 50%;
  }
  
  .reset-main-heading {
    color: #FFFFFF;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    padding: 8px;
  }
  
  .reset-heading {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: bold;
    margin-top: 1rem;
    text-align: center;
  }
  
  .reset-input {
    width: 100%;
    max-width: 500px;
    height: 48px;
    padding: 0.5rem 1rem;
    margin-top: 1.5rem;
    border: 1px solid #d1d5db;
    border-radius: 8px;
    outline: none;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: #000;
  }
  
  .reset-submit-btn {
    background-color: #9383E0;
    font-weight: bold;
    color: #fff;
    width: 117px;
    height: 48px;
    margin-top: 1.5rem;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
  }

  .password-input-wrapper {
    position: relative;
    width: 85%;
    max-width: 400px;
  }
  
  .toggle-password-icon {
    position: absolute;
    right: 15px;
    top: 70%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #6b7280; /* Grey color for the icon */
  }
  
  .toggle-password-icon:hover {
    color: #4b5563; /* Slightly darker on hover */
  }
  

  @media (min-width: 1024px) {
    .reset-password-card {
      width: 616px;
    }
  }
