.SignUp_body {
margin: 0;
height: 100vh;
background-color: palegoldenrod;

}

.SignUp_body img {
    height: 15px;
    aspect-ratio: 1;
}

.SignUp_main {
    display:flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
}
.SignUp_header {
    display:flex;
    flex-direction: column;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
    
}
.SignUp_text {
    color:blue;
    font-size: 48px;
    font-weight: 700;
    
}
.SignUp_underline {
    width: 61px;
    height: 6px;
    background: blue;
    border-radius:9px;
    margin-top: 9px;
    align-items: center;
}
.SignUp_inputs {
    margin-top: 55px;
    align-items: center;
    display:flex;
    flex-direction: column;
    gap: 24px;
    width: fit-content;

}
.SignUp_input {
    display: flex;
    align-items: center;
    padding-left: 5%;
    width: 480px;
    height: 60px;
    background:white;
    border-radius: 6px;
}
.SignUp_input img{
margin:0px 30px;
}
.SignUp_input input{
    height: 50px;
    width: 400px;
    background: transparent;
    border:none;
    outline:none;
    color:gray;
    font-size: 19px;
}
.SignUp_submit_container{
    display:flex;
    gap:20px;
    width: 100%;
    justify-content: center;
    margin-top: 30px;
}
.SignUp_submit{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 60px;
    color:white;
    background: blue;
    border-radius: 50px;
    font-size: 20px;
    font-weight: 700;
    cursor:pointer;
}

.SignUp_button {
    border: none;
}